@import 'config';
@import 'helper';

/* start setting*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background: #fff;
  color: #333;
}

a {
  text-decoration: none;
  color: $primary-color;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/*End setting*/

/*--------------------------------------------*/

/* Start Navbar*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid $primary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }

  a {
     color: #fff;
    padding: 1rem;
    margin: 0 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }
}

/* End Navbar*/



/* landing section*/

.landing {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #3197a09a ,#3daf76a8);
  clip-path: polygon(0 0, 100% 0%, 100% 74%, 0% 100%);
  color: #333;
  text-align: center;

  .landing-content{
    margin: 0 auto;

    p{
      padding: 1rem;
      margin-bottom: 1rem;
    }

    .btn {
      margin: 1rem;
      background: #fff;
      padding: 10px 20px;
      border-radius: 3px;
      display: inline-block;
      border: none;
      cursor: pointer;
    }

    .text-l{
      font-size: 4rem;
      line-height: 1.2;
    }

    .lead{
      font-size: 1.5rem;
    }
  }

  
}

/* landing section End */
